<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
</head>

<body>
<h1>Your orders</h1>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
<br>
<div th:each="order : ${orders}">
    deliveryName: <span th:text="${order.deliveryName}">deliveryName</span><br/>
    deliveryState: <span th:text="${order.deliveryState}">deliveryState</span><br/>
    deliveryCity: <span th:text="${order.deliveryCity}">deliveryCity</span><br/>
    deliveryStreet: <span th:text="${order.deliveryStreet}">deliveryStreet</span><br/>
    placedAt: <span th:text="${order.placedAt}">placedAt</span><br/>
    <br>
    <br>
</div>
</body>
</html>